<launch>        
        <!-- Vision Node -->

        <!-- Arguments (Overrideable)-->
        <arg name="name" value="top_face_cam" />
        <arg name="fd" value="/dev/video0" />
        <arg name="pub" value="/camera/one/image" />

        <node name="image_sender_1" pkg="vision" type="image_sender" required="true">
          <param name="name" value="$(arg name)"/>
          <param name="fd" value="$(arg fd)"/>
          <param name="pub" value="$(arg pub)"/>
        </node>

</launch>
