<launch>
<!-- remote nodes -->
    <machine name="ROV02" address="ubuntu" user="Red Herring" password="auvic69" env-loader="/home/googly/ROV02/env.sh" default="true" />

      <node machine="ROV02" name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
      </node>
      <node machine="ROV02" name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="autosize" value="true" />
      </node>

      <node machine="ROV02" name="thruster_node" pkg="thrusters" type="thruster_node" />
      <node machine="ROV02" name="lights_node" pkg="lights" type="lights_node" />


<!-- local nodes -->
      <node name="redgui" pkg="redgui" type="redgui" />
      <node name="joystick_node" pkg="red_joystick" type="joystick_node" />
      <node name="gui_cam" pkg="rov_camera" type="gui_cam" />

</launch>
