<launch>        
        <!--Global Argument Definitions-->

        <!--Environment Variables-->
        <arg name="IS_LOCAL" value="$(optenv ROS_MASTER_LOC true)"/>

        <!-- Overrides -->
        <arg name="override_vision_sender_1" value="false"/>
        <arg name="override_vision_sender_2" value="false"/>
        <arg name="override_motor_controllers" value="false"/>

        <!-- Enables -->
        <arg name="enable_camera_node_1" value="true"/>
        <arg name="enable_camera_node_2" value="false"/>

        <!-- Included Roslaunch Files -->

        <!-- Vision-Image-Sender-1 -->
        <group if="$(arg enable_camera_node_1)">
          <group if="$(arg override_vision_sender_1)">
            <include file="$(find vision)/launchfiles/image_sender.launch">
              <arg name="name" value="top_face_cam"/>
              <arg name="fd" value="/dev/video5"/>
              <arg name="pub" value="/camera/one/image"/>
            </include>
          </group>
          <group unless="$(arg override_vision_sender_1)">
            <include file="$(find vision)/launchfiles/image_sender.launch"/>
          </group>
        </group>
        <!-- Vision-Image-Sender-2 -->
        <group if="$(arg enable_camera_node_2)">
            <group if="$(arg override_vision_sender_2)">
              <include file="$(find vision)/launchfiles/image_sender2.launch">
                <arg name="name" value="bot_face_cam"/>
                <arg name="fd" value="/dev/video0"/>
                <arg name="pub" value="/camera/two/image"/>
              </include>
            </group>
            <group unless="$(arg override_vision_sender_2)">
              <include file="$(find vision)/launchfiles/image_sender2.launch"/>
            </group>
        </group>

        <!--Motors-->
        <group if="$(arg override_motor_controllers)">
          <include file="$(find motor_controller)/launchfiles/motor_controller.launch">
            <arg name="MotorForwardService" value="setMotorForward"/>
            <arg name="MotorReverseService" value="setMotorReverse"/>
            <arg name="StopMotorsService" value="stopAllMotors"/>
            <arg name="StopMotorService" value="stopMotor"/>
            <arg name="getRPMService" value="getRPM"/>
            <arg name="setPWMService" value="setPWM"/>
            <arg name="CalibrateMotor" value="calibrateMotor"/>
            <arg name="motor_controller_fd" value="/dev/sttyUSB0"/>
          </include>
        </group>
        <group unless="$(arg override_motor_controllers)">
          <include file="$(find motor_controller)/launchfiles/motor_controller.launch"/>
        </group>

	<!--Joystick-->
	<group if="$(arg override_joystick)">
		<include file="$(find joystick)/launchfiles/joystick_node.launch">
			<arg name="joystick_fd" value="/dev/input/js0"/>
			<arg name="chatter_pub" value="/input/joystick"/>
			<arg name="GUI_Pub" value="/GUI/general"/>
			<arg name="loop_rate" value="1000"/>	
		</include>
	</group>
	<group unless="$(arg override_joystick)">
		<include file="$(find joystick)/launchfiles/joystick_node.launch"/>
	</group>

</launch>
